* {
  box-sizing: border-box;
}

.header{
  height: 14vh;
  width: 100vw;
  // background-color: rgb(5, 5, 34);
  position: relative;
  display: flex;
  padding: 0px 50px;
  justify-content: space-between;
  &__name{
    height: 100%;
    width: 300px;
    padding-bottom: 10px;
    .title{
      color: rgb(5, 5, 34);
      height: 50%;
      font-size: 45px;
      font-style: oblique;
      font-weight: bold;
    }
  }
  &__current{
    height: 30px;
    width: 650px;
    // background-color: olive;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    line-height: 30px;
    border-bottom: 2px rgb(5, 5, 34) solid;
    &__name{
      margin-left: 350px;
      color: rgb(5, 5, 34);
      font-size: 20px;
      font-weight: bold;
    }
    .post_film{
      height: 30px;
      width: 80px;
      // background-color: lightgreen;
      position: relative;
      display: flex;
      &__post{
        .fas{
          color: rgb(187, 159, 0);
          font-size: 25px;
          font-weight: bold;
          margin-left: 15px;
        }
      }
      &__film{
        .fas{
          color: rgb(5, 5, 34);
          font-size: 25px;
          font-weight: bold;
          
        }
      }
    }
  }
  &__icons{
    height: 30px;
    width: 20px;
    // background-color: olive;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    line-height: 30px;
    &__edit{
      .icon{
        color: lightgray;
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}

.newpost{
  height: 43vh;
  width: 100vw;
  // background-color: rgb(5, 5, 34);
  &__header{
    height: 40px;
    width: 100vw;
    background-color: rgb(5, 5, 34);
    .subject{
      line-height: 40px;
      margin-left: 50px;
      font-weight: bold;
      color: lightgray;
      height: 20px;
      width: 200px;
    }
  }
  &__main{
    height: calc(43vh - 40px);
    width: 100vw;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    display: flex;
    .content{
      height: 260px;
      width: 340px;
      background-color: white;
      margin-left: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
      
      &__title{
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        -ms-overflow-style: none;
        height: 40px;
        width: 340px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 40px;
        background-color: lightgray;
        font-weight: bold;
        color: rgb(5, 5, 34);
        margin-top: 0px;
      }
      &__image{
        height: calc(260px - 40px);
        width: 340px;
      }
    }
  }
}

.lanking{
  height: 43vh;
  width: 100vw;
  // background-color: rgb(5, 5, 34);
  &__header{
    height: 40px;
    width: 100vw;
    background-color: rgb(5, 5, 34);
    .subject{
      line-height: 40px;
      margin-left: 50px;
      font-weight: bold;
      color: lightgray;
      height: 20px;
      width: 200px;
    }
  }
  &__main{
    height: calc(100% - 40px);
    width: 100vw;
    &__number{
      height: 40px;
      width: 40px;
      float: left;
      color: gold;
      font-size: 30px;
      text-align: center;
      margin-top: 20px;
      margin-left: 60px;
    }
    &__two{
      height: 40px;
      width: 40px;
      float: left;
      color: silver;
      font-size: 30px;
      text-align: center;
      margin-top: 20px;
      margin-left: 60px;
    }
    &__three{
      height: 40px;
      width: 40px;
      float: left;
      color: brown;
      font-size: 30px;
      text-align: center;
      margin-top: 20px;
      margin-left: 60px;
    }
    &__content{
      height: 260px;
      width: 340px;
      background-color: lightgray;
      float: left;
      margin-top: 20px;
      &__title{
        padding-left: 20px;
        line-height: 60px;
        height: 60px;
        width: 100%;
        background-color: rgb(5, 5, 34);
        font-weight: bold;
        color: lightgray;
      }
    }
  }
}