* {
  box-sizing: border-box;
}

.main{
  height: 100vh;
  width: 100vw;
  .side{
    height: 100%;
    width: 280px;
    background-color: rgb(77, 77, 77);
    position: fixed;
    .title{
      height: 150px;
      background-color: #000000;
      color: white;
      font-size: 45px;
      padding: 7px 20px 20px 40px;
      font-weight: bold;
      font-style: oblique;
    }
    .currentusername{
      height: 40px;
      width: 100%;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      margin-top: 30px;
      line-height: 40px;
      padding-left: 20px;
      color: white;
      cursor: pointer;
      .fa-user{
        color: rgb(255, 141, 34);
      }
    }
    .post{
      height: 40px;
      width: 100%;
      display: inline-block;
      font-size: 18px;
      margin-top: 30px;
      line-height: 40px;
      padding-left: 35px;
      color: white;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      .fa-pen-nib{
        color: rgb(255, 141, 34);
      }
    }
    .watch{
      height: 40px;
      width: 100%;
      display: inline-block;
      font-size: 18px;
      margin-top: 30px;
      line-height: 40px;
      padding-left: 35px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      .fa-film{
        color: rgb(255, 141, 34);
      }
    }
    .log-out{
      height: 40px;
      width: 100%;
      display: inline-block;
      font-size: 18px;
      margin-top: 70px;
      line-height: 40px;
      padding-left: 35px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      .fa-sign-out-alt{
        color: lightsteelblue;
      }
    }
    .side-all{
      height: 40px;
      width: 100%;
      display: inline-block;
      font-size: 18px;
      margin-top: 30px;
      line-height: 40px;
      padding-left: 35px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      .fa-globe{
        color: rgb(255, 141, 34);
      }
    }
    .log-in{
      height: 40px;
      width: 100%;
      display: inline-block;
      font-size: 18px;
      margin-top: 30px;
      line-height: 40px;
      padding-left: 35px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      .fa-sign-in-alt{
        color: rgb(255, 141, 34);
      }
    }
    .registration{
      height: 40px;
      width: 100%;
      display: inline-block;
      font-size: 18px;
      margin-top: 30px;
      line-height: 40px;
      padding-left: 35px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      .fa-arrow-alt-circle-right{
        color: rgb(255, 141, 34);
      }
    }
  }
  .content{
    height: auto;
    width: 1160px;
    margin-left: 280px;
    background-color: rgb(170, 170, 170);
    .header{
      height: 150px;
      width: 100%;
      background-color: #000000;
      padding-top: 50px;
      .search-box{
        height: 50px;
        width: 900px;
        margin: auto;
        background-color: rgb(255, 255, 255);
        .search-box-input{
          height: 50px;
          width: 850px;
          padding-left: 10px;
          float: left;
        }
        .sub-btn{
          height: 50px;
          width: 50px;
          display: block;
          background-color: rgb(77, 77, 77);
          float: left;
          color: rgb(255, 141, 34);
          font-size: 17px;
          font-weight: bold;
        }
        .media-list{
          height: 80px;
          width: 850px;
          padding-left: 20px;
          padding-right: 20px;
          overflow-x: scroll;
          .media{
            height: 30px;
            width: auto;
            padding-left: 30px;
            padding-right: 30px;
            background-color: rgb(255, 255, 255);
            display: inline-block;
            line-height: 30px;
            margin-top: 3px;
            border: rgb(170, 170, 170) 1px solid;
            .media-links{
              text-decoration: none;
              .media-title{
                color: #000000;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .new{
      height: 490px;
      width: 1110px;
      background-color: rgb(255, 255, 255);
      margin: auto;
      .newpost{
        margin-top: 70px;
        height: 90px;
        width: 100%;
        background-color: rgb(77, 77, 77);
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding-top: 27px;
        font-size: 25px;
        padding-left: 30px;
        position: relative;
        .fa-plane-arrival{
          color: rgb(255, 141, 34);
          font-size: 30px;
        }
        .all-posts{
          height: 30px;
          width: 160px;
          line-height: 30px;
          margin-top: 30px;
          color: rgb(255, 141, 34);
          font-size: 15px;
          position: absolute;
          top: 0px;
          right: 30px;
          cursor: pointer;
        }
      }
      .newpost-post{
        height: 400px;
        width: 100%;
        padding-top: 65px;
        overflow-x: scroll;
        display: flex;
        .pppp-pppp{
          height: 270px;
          width: 400px;
          margin-left: 40px;
          .posts-product{
            height: 270px;
            width: 400px;
            position: relative;
            .post-new-title{
              position: absolute;
              top: 5px;
              left: 10px;
              font-size: 22px;
              color: rgb(255, 255, 255);
              font-weight: bold;
            }
            .words-words{
              font-weight: bold;
              height: 240px;
              width: 400px;
              padding-top: 200px;
              padding-left: 15px;
              padding-right: 15px;
              position: absolute;
              bottom: 0px;
              overflow-x: scroll;
              display: flex;
              font-size: 18px;
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
    .ranking{
      height: 490px;
      width: 1110px;
      background-color: rgb(255, 255, 255);
      margin: auto;
      .rankingpost{
        margin-top: 120px;
        height: 90px;
        width: 100%;
        background-color: rgb(77, 77, 77);
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 90px;
        font-size: 25px;
        padding-left: 30px;
        .fa-chart-line{
          color: rgb(255, 141, 34);
          font-size: 30px;
        }
      }
      .good-rank{
        height: 400px;
        width: 100%;
        padding-top: 85px;
        .top-ranker{
          float: left;
          margin-left: 30px;
          position: relative;
          .rank-num{
            height: 40px;
            width: 40px;
            background-color: rgb(255, 141, 34);
            color: white;
            border-radius: 20px;
            position: absolute;
            top: 5px;
            left: 5px;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            font-weight: bold;
          }
          .rank-good{
            font-weight: bold;
            font-size: 20px;
            color: white;
            position: absolute;
            top: 10px;
            left: 65px;
          }
          .rank-title{
            position: absolute;
            left: 10px;
            bottom: 15px;
            font-size: 16px;
            color: rgb(255, 255, 255);
            font-weight: bold;
          }
        }
      }
    }
    .footer{
      height: 300px;
      width: 100%;
      background-color: #000000;
      padding-top: 100px;
      margin-top: 100px;
      .footerlogo{
        height: 100px;
        width: 180px;
        padding-left: 15px;
        margin: auto;
        color: white;
        font-weight: bold;
        font-style: oblique;
        font-size: 35px;
      }
      .inc{
        height: 15px;
        width: 100px;
        color: white;
        font-size: 10px;
        margin: auto;
        margin-top: 20px;
      }
    }
  }
}

.all{
  height: auto;
  width: 100%;
  .postnew-header{
    height: 200px;
    width: 100%;
    background-color: #000000;
    padding-top: 50px;
    .toptitle{
      height: 100px;
      width: 145px;
      margin: auto;
      display: block;
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 34px;
      font-style: oblique;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .all-content{
    height: auto;
    width: 100%;
    background-color: rgb(170, 170, 170);
    padding-top: 100px;
    padding-bottom: 100px;
    .all-main{
      height: auto;
      width: 1000px;
      background-color: rgb(255, 255, 255);
      margin: auto;
      .all-post{
        height: 90px;
        width: 1000px;
        background-color: rgb(77, 77, 77);
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: bold;
        line-height: 90px;
        .fa-globe{
          color: rgb(255, 141, 34);
          font-size: 25px;
          margin-left: 30px;
        }
        .fa-pen-nib{
          margin-left: 600px;
          font-size: 16px;
          color: rgb(255, 255, 255);
          background-color: rgb(170, 170, 170);
          border-radius: 20px;
          height: 30px;
          width: 160px;
          line-height: 30px;
          padding-left: 38px;
        }
      }
      .all-all{
        height: 1100px;
        width: 1000px;
        padding: 80px 35px 35px 35px; 
        position: relative;
        .all-image{
          height: 270px;
          width: 400px;
          margin-left: 40px;
          margin-bottom: 40px;
          float: left;
          .all-product{
            height: 270px;
            width: 400px;
            position: relative;
            .post-new-title{
              position: absolute;
              top: 5px;
              left: 10px;
              font-size: 22px;
              color: rgb(255, 255, 255);
              font-weight: bold;
            }
            .words-words{
              font-weight: bold;
              height: 240px;
              width: 400px;
              padding-top: 200px;
              padding-left: 15px;
              padding-right: 15px;
              position: absolute;
              bottom: 0px;
              overflow-x: scroll;
              display: flex;
              font-size: 18px;
              color: rgb(255, 255, 255);
            }
          }
        }
        .all-page{
          height: 50px;
          width: 930px;
          line-height: 50px;
          text-align: center;
          position: absolute;
          bottom: 35px;
          font-size: 20px;
          font-weight: bold;
          color: rgb(255, 141, 34);
          text-decoration: rgb(255, 141, 34);
          a{
            text-decoration: none;
            color: rgb(77, 77, 77);
          }
        }
      }
    }
    .back{
      text-decoration: none;
      .back-btn{
        display: block;
        height: 30px;
        width: 134px;
        font-size: 20px;
        color: rgb(255, 141, 34);
        margin: auto;
        margin-top: 40px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}