.lanking
  .lanking__header
    .subject
      ーー LANKING ーー
  .lanking__main
    .lanking__main__number
      ❶
    .lanking__main__content
      .lanking__main__content__title
        SENCE OF WONDER
    .lanking__main__two
      ❷
    .lanking__main__content
      .lanking__main__content__title
        TAKE IT EASY
    .lanking__main__three
      ❸
    .lanking__main__content
      .lanking__main__content__title
        CLOSE YOUR EYES
