.side
  %h1.title
    MOVIE
    %br
    WORDS
  %label.currentusername
    %i.far.fa-user
    エミネム
  %label.post
    ー
    %i.fas.fa-pen-nib
    投稿する
  %label.watch
    ー
    %i.fas.fa-film
    過去の投稿
  %label.log-out
    ー
    %i.fas.fa-sign-out-alt
    ログアウト
  %label.log-in
    ー
    %i.fas.fa-sign-in-alt
    ログイン
  %label.registration
    ー
    %i.far.fa-arrow-alt-circle-right
    新規会員登録
    