.showpost
  = render "logo"
  .show-main
    .good-btn
      %i.far.fa-thumbs-up
      .num-good
        0
    .show-content
      .show-title
        TITANIC
      .show-category
        洋画 / 恋愛 / ドラマ
      .show-image
      .show-actor
        Actor :
        レオナルド・ディカプリオ
      .show-words
        "
        close your eyes jopifbhiSHuohdsjvdjl;v jbdvoshbfjbl
        "
      .show-reason
        私は、序盤から割と急展開で仲間が集まるんだが、立つのもやっとな老人とか、何処の馬の骨みたいな輩も仲間に混じっていて、人選が謎すぎる。顔覚えられないくらい出てこない奴もいるから、なんで11人なんか、いやいやこんな人数要らないだろとか、なんでこんなに事前のセキュリティの中身に詳しすぎるんだよとか、ツッコミどころは山のようにあり、そういう意味でイマイチノレない。
      .curr-btn
        %button.edit-btn
          EDIT POST
        %button.delete-btn
          DELETE POST
    =link_to root_path, class:"back" do
      %label.back-btn
        << TOPへ戻る