.user-my-edit{
  height: 100px;
  width: 215px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-style: oblique;
  margin: auto;
  line-height: 100px;
  padding-left: 5px;
}
.current-pass{
  height: 30px;
  width: 196px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: auto;
}
.current-field{
  height: 40px;
  width: 300px;
  display: block;
  margin: auto;
}
.current-message{
  height: 30px;
  width: 635px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: auto;
}
.pass-message{
  height: 30px;
  width: 460px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: auto;
}
.len-message{
  height: 30px;
  width: 145px;
  color: white;
  font-size: 13px;
  display: block;
  margin: auto;
}
h3{
  height: 100px;
  width: 100%;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  background-color: #000000;
  display: block;
  line-height: 130px;
  font-style: oblique;
  color: white;
}
.un-happy{
  height: 100px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #000000;
  display: block;
  color: white;
  font-style: oblique;
  .can-ac{
    height: 30px;
    width: 200px;
    background-color: white;
    margin-top: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
}
.current-back{
  height: 40px;
  width: 100%;
  background-color: #000000;
  padding-bottom: 80px;
  .back-back{
    display: block;
    margin: auto;
    height: 20px;
    width: 40px;
    color: rgb(255, 141, 34);
  }
}